<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>MusicBrainz ID</th>
            <th>Biography</th>
        </tr>
    </thead>
    <tbody>
        {{#bands}}
        <tr>
            <td>{{{name}}}</td>
            <td>{{{MBID}}}</td>
            <td>{{{biography}}}</td>
        </tr>
        {{/bands}}

    </tbody>

</table>